<?xml version="1.0"?>

<urlrewritingnet  rewriteOnlyVirtualUrls="true"
                  contextItemsPrefix="QueryString"
                  defaultPage = "default.aspx"
                  defaultProvider="RegEx"
                  xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>



    <add name="DanhSachSanPham"  virtualUrl="^~/danh-sach-san-pham/m(\d*)c(\d*)p(\d*)/(.*)$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/ProductList.aspx?mid=$1&amp;cid=$2&amp;page=$3"
          ignoreCase="true" />

    <add name="TimKiemSanPham"  virtualUrl="^~/danh-sach-san-pham/m(\d*)c(\d*)p(\d*)s/(.*)$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/ProductList.aspx?mid=$1&amp;cid=$2&amp;page=$3&amp;keyword=$4"
          ignoreCase="true" />

    <add name="TinDanhMuc"  virtualUrl="^~/danh-sach-tin/(.*)/(.*)-phan-(.*)$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/ArticleList.aspx?aid=$1&amp;page=$3"
          ignoreCase="true" />

    <add name="TinTimKiem"  virtualUrl="^~/tim-kiem-tin/(.*)-phan-(.*)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/ArticleList.aspx?keyword=$1&amp;page=$2"
         ignoreCase="true" />

    <add name="TinTatCa"  virtualUrl="^~/danh-sach-tin-phan-(.*)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/ArticleList.aspx?page=$1"
         ignoreCase="true" />

    <add name="LienHe"  virtualUrl="^~/lien-he$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/Contact.aspx"
          ignoreCase="true" />

    <add name="TrangChu"  virtualUrl="^~/trang-chu$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/Default.aspx"
          ignoreCase="true" />

  </rewrites>
</urlrewritingnet>
